{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}